/* ----START: Table------ */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  /*----END: Table --------*/

  /* START- align Div in center : class="center" */
  .center {
    margin: auto;
    width: 95%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
  }
  /* END- align Div in center : class="center" */