<!-- <div class="text-center">
    <h1>Welcome to {{title}}</h1>
</div> -->

<div style="height: 100px;">
        <div class="h-25 d-inline-block" style="width: 120px;"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">

            <!-- Spacing! -->
                <!-- <div style="height: 1px;">
                        <div class="h-25 d-inline-block" style="width: 120px;"></div>
                </div> -->
            <h4>Welcome to {{title}}</h4>
            <img src="../../../assets/img/strs_final_3.png" class="rounded" alt="STRS Logo"
            class="max-width: 60;">
            
        </div>
        <div class="col-sm">

            <div class="w-75 p-3" style="background-color: #eee;">
                <h3>Login</h3>
                <form #loginForm #userForm="ngForm" (ngSubmit)="validate()" novalidate>

                    <div class="form-group">
                        <label>User Name:</label>
                        <input autofocus type="text" class="form-control" required #user_name="ngModel"
                            [class.is-invalid]="user_name.invalid && user_name.touched" name="user_name"
                            [(ngModel)]="user.user_name">

                        <small 
                        class="text-danger" 
                        [class.d-none]="!user_nameHasError || user_name.untouched"

                            class="form-control">
                            User Name is required
                        </small>
                    </div>

                    <div class="form-group">
                        <label>Password:</label>
                        <input type="password" 
                        class="form-control" 
                        required 
                        #password="ngModel" 
                        name="password"
                        [class.is-invalid]="password.invalid && password.touched" 
                        [(ngModel)]="user.password">

                        <!-- <small class="text-danger" 
                            [class.d-none]="!passwordHasError || password.untouched"

                            class="form-control">
                            Password is required
                        </small> -->

                        <small 
                        class="text-danger" 
                        [class.d-none]="!passwordHasError || password.untouched">
                        Password is required
                        </small>      

                    </div>
                    <button class="btn btn-dark">
                        Login
                    </button>
                </form>
                <small class="text-danger" *ngIf="invalidUser">
                    Wrong Credentials!
                </small>
            </div>
        </div>
    </div>
</div>



<!-- <div class="w-25 p-3" style="background-color: #eee;">
    <h3>Login</h3>
    <form #loginForm #userForm="ngForm" (ngSubmit)="validate()" novalidate>

        <div class="form-group">
            <label>User Name:</label>
            <input autofocus type="text" class="form-control" required #user_name="ngModel"
                [class.is-invalid]="user_name.invalid && user_name.touched" name="user_name"
                [(ngModel)]="user.user_name">
            <small class="text-danger" [class.d-none]="!user_nameHasError || user_name.untouched" class="form-control">
                User Name is required
            </small>
        </div>

        <div class="form-group">
            <label>Password:</label>
            <input type="password" class="form-control" required #password="ngModel" name="password"
                [class.is-invalid]="password.invalid && password.touched" [(ngModel)]="user.password">

            <small class="text-danger" [class.d-none]="!passwordHasError || password.untouched" class="form-control">
                password is required
            </small>
        </div>
        <button class="btn btn-dark">
            Login
        </button>
    </form>
    <small class="text-danger" *ngIf="invalidUser">
        Wrong Credentials!
    </small>
</div> -->