<div>

    <h1>Welcome to {{title}}</h1>

    <!-- <div class="container h-100 d-flex justify-content-center"> -->
        <h3>Login</h3>
        <form #loginForm #userForm="ngForm" (ngSubmit)="validate()" novalidate>

            <!-- {{ userForm.value | json }}
            <hr />
            {{ user | json }} -->

            <br>
            <label>User Name:</label><input autofocus type="text" #user_name="ngModel" name="user_name" [(ngModel)]="user.user_name"><br>
            <label>Password:</label><input type="password" #password="ngModel" name="password" [(ngModel)]="user.password"><br>

            <button>Login</button>
        </form>

</div>
