<div class="text-center">
    <h2>Raise a Ticket</h2>
</div>

<div class="container-fluid">
    <form #ticketForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        {{ ticketForm.value | json }}

        <div class="form-group" >
            <label for="issueCategory">Issue Category</label>
            <select 
            class="custom-select" 
            (blur)="validateIssueCategory(issueCategory.value)" 
            (change)="validateIssueCategory(issueCategory.value)" 
            #issueCategory="ngModel" 
            name="issueCategory" 
            [(ngModel)]="newTicket.category.name">
                <option value="default" >Select a category</option>
                <option *ngFor="let department of listOfDepartments" 
                >{{ department.name }}</option>
            </select>

            <small class="text-danger"
            [class.d-none]="!issueCategoryHasError || issueCategory.untouched">
                Please choose a Issue Category
            </small>
        </div>

        <div class="form-group">
            <label for="message">Message</label>
            <textarea 
            class="form-control" 
            name="message"
            #message
            [(ngModel)]="newTicket.message"
            rows="3"></textarea>

            <small class="text-danger">
                Please
            </small>
        </div>

        <!-- {{ newTicket.priority.value }} -->
        <div class="form-group">
            <label for="Priority">Priority</label>
            <select 
            class="custom-select" 
            (blur)="validatePriority(priority.value)"
            (change)="validatePriority(priority.value)"
            #priority="ngModel" 
            name="priority" 
            [(ngModel)]="newTicket.priority.value"
            [class.is-invalid]="!!priorityHasError && priority.touched" >
                <option value="default" selected>Select a Priority</option>
                <option *ngFor="let eachPriority of listOfPriorities">{{ eachPriority.value }}</option>
            </select>
            <small class="text-danger" 
            [class.d-none]="!priorityHasError || priority.untouched">
                Please choose a priority
            </small>      
        </div>



        <div class="row">
            <div class="col-sm-6"> 
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label class="control-label" for="datepicker-start">Start Date</label>
                    <!-- <input type="text" class="form-control" id="datepicker-start"> -->
                    <input type="date"
                    #startDate
                    class="form-control"
                    name="startDateName"
                    [(ngModel)]="newTicket.start_date" >
                </div>
            </div>
            <div class="col-sm-6"> 
                <div class="form-group pmd-textfield pmd-textfield-floating-label">
                    <label class="control-label" for="datepicker-end">End Date</label>
                    <!-- <input type="text" class="form-control" id="datepicker-end"> -->
                    <input type="date"
                    #requestedEndDate
                    class="form-control"
                    name="requestedEndDateName"
                    [(ngModel)]="newTicket.requested_end_date" >
                </div>
            </div>
        </div>


        <!-- <div>
            <label for="">Start Date:</label>
            <input type="date"
            #startDate
            id="startDate"
            name="startDateName"
            [(ngModel)]="newTicket.start_date" >
        </div>

        <div>
            <label for="RequestedEndDate">Requested End Date</label>
            <input type="date"
            #requestedEndDate
            name="requestedEndDateName"
            [(ngModel)]="newTicket.requested_end_date" >
        </div> -->



         <!-- <div>
            <mat-form-field>
                <mat-label>Start Date</mat-label>
                <input 
                matInput 
                [matDatepicker]="myStartDate" 
                [matDatepickerFilter]="dateFilter"
                [(value)]="newTicket.start_date" 
                readonly [readOnly]="!!readonly" >
                
                <mat-datepicker #myStartDate></mat-datepicker>
            </mat-form-field>
        </div> -->
<!--
        <div>
            <mat-form-field>
                <mat-label>Requested End Date</mat-label>
                <input 
                matInput 
                [matDatepicker]="myRequestedEndDate"
                [min]="minDate"
                [max]="maxDate"
                [matDatepickerFilter]="dateFilter"
                [(value)]="newTicket.requested_end_date" 
                (dateChange)="updateRequestedEndDate('change', $event)">
                <mat-datepicker-toggle matSuffix [for]="myRequestedEndDate" ></mat-datepicker-toggle>
                <mat-datepicker #myRequestedEndDate></mat-datepicker>
            </mat-form-field>
        </div> -->

        <!-- <button class="btn btn-primary" 
        [disabled]="ticketForm.form.invalid" 
        type="submit">Submit ticket</button> -->


        <button class="btn btn-primary" 
        [disabled]="ticketForm.form.invalid || priorityHasError || issueCategoryHasError" 
        type="submit">Submit form</button>

    </form>
</div>