<h2>Welcome {{ user_name }}! </h2>

<div>
    <a routerLink="/serviceEngineer/showAllTicketsSE" routerLinkActive="active" class="center button button2">Show All Tickets</a>
    <a routerLink="/serviceEngineer/averageTimeTakenPerEngineer" routerLinkActive="active" class="center button button2">Average Time Taken Per Engineer</a>
    <a routerLink="/serviceEngineer/averageTimeTakenPerSeverity" routerLinkActive="active" class="center button button2">Average Time Taken Per Severity</a>
    <a routerLink="/serviceEngineer/agingOfOpenTickets" routerLinkActive="active" class="center button button2">Aging of Open Tickets</a>

    <a routerLink="/logout" routerLinkActive="active" class="center button button2">Logout</a>
</div>

<router-outlet></router-outlet>