<div>
    <h2>Departments</h2>
    <div class="center">
        <table #allDepartments>
            <tr>
                <th>Department Id</th>
                <th>Name</th>
                <th>Code</th>
            </tr>

            <tr *ngFor="let Department of listOfDepartments">
                <td>{{ Department.id }}</td>
                <td>{{ Department.name }}</td>
                <td>{{ Department.code }}</td>
            </tr>
        </table>
    </div>
</div>

<router-outlet></router-outlet>